:where(.css-dev-only-do-not-override-1wwf28x).ant-col-8 {
    --ant-display: flex;
    display: flex;
    display: var(--ant-display);
    width: max-content !important;
    flex: 1 1 15%
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-col-offset-8 {
    margin-inline-start: 0% !important;
}