html::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 20px 20px;
}

body #webpack-dev-server-client-overlay-div {
    display: none !important;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

*::selection {
    background-color: var(--main-color);
    color: #fff;
}

body {
    max-width: 1500px;
}

.ant-modal-content {
    padding: 0 !important;
}

.ant-modal-confirm-title,
.ant-modal-confirm-content {
    padding: 20px 40px;
}

.ant-modal-confirm-paragraph {
    max-width: 100% !important;

}

.ant-modal-confirm-title {
    background-color: var(--main-color);
}

/* .anticon.anticon-check-circle {
    flex: none;
    font-size: 22px;
    height: 88px;
    background: var(--main-color);
    margin: 0 !important;
} */

/* .anticon.anticon-check-circle svg {
    transform: translateX(20px);
} */

.ant-modal-confirm-btns button {
    margin: 20px;
}