:root {
  list-style: none;
}

body {
  margin: 0;
}

html,
body,
.ant-layout {
  min-height: 100vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  max-width: 1500px;
}

h3,
p {
  padding: 0;
  margin: 0;
}

body.dark {
  --light-color: #aaa;
  --light-bg: #333;
  --black: #fff;
  --white: #222;
  --border: .1rem solid rgba(255, 255, 255, .2);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}